<ion-app>

  <ion-content class="ion-padding" id="main-content">
    <div class="titulo">
      <br>
      <br>
      <h1 class="animate-text">Tellevo</h1>
      <h2 class="animate-text">APP</h2>
    </div>
    <div class="container">
      <br>
      <br>
      <p>Iniciar Sesion</p>
      <ion-button (click)="login()" expand="block">Ingresar</ion-button>
      <br>
      <p>Registrar Cuenta</p>
        <ion-button (click)="registrar()">Registrarse</ion-button>
    </div>
  </ion-content>
</ion-app>
